<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id = 'navigation'>
    <a href="/">Home</a> |
    <a href="/register">User Registration</a> |
    <a href="/addmovies">Add Movies</a> |
    <a href="/login">Login</a> |
    <a href="/logout">Logout</a> |
  </div>

  <h1>Welcome to Movies page</h1>

  {% if usrmsg %}
    <p style="color:green;">{{usrmsg}}</p>
  {% endif %}

  {% if errormsg %}
    <p style="color:red;">{{errormsg}}</p>
  {% endif %}

  {% if movies %}
  <form id="moviewatched" action="/viewed" method="post">
    {% for movie in movies %}
    <ul>
      <li>
        <label for="movie-{{movie.movie_id}}"><a href="/movie?id={{movie.movie_id }}">{{ movie.title }}</a></label>
        <input type="submit" name="movie-{{movie.movie_id}}" id="movie-{{movie.movie_id}}" value="Add to my viewlist" />
      </li> 
    </ul>
    {% endfor %}
  </form>
  {% endif %}
</body>
</html>